---
import Nav from "@components/Nav.astro";
import Layout from "@layouts/BaseLayout.astro";
import Container from "@components/Container.astro";
import DetailModal from "@components/DetailModal.astro";
import Heading from "@components/Heading.astro";

const posts = await Astro.glob("./**/*.md");
---

<Layout title="ibrahim hisham ~ poetry" padding="16" path="/work">
  <Container>
    <Nav />
    <Heading title="poetry" styling="stagger-50" />
    <p class="stagger-150 animate-fade text-lg mb-5">
      select pieces from the void.
    </p>

    <ul
      class="grid grid-flow-row auto-rows-max text-slate-400 antialised text-base animate-fade stagger-200"
    >
      {
        posts
          .sort(
            (a, b) =>
              (new Date(b.frontmatter.date) as any) -
              (new Date(a.frontmatter.date) as any)
          )
          .map((post) => (
            <DetailModal
              url={post.url}
              title={post.frontmatter.title}
              description={new Date(post.frontmatter.date)
                .toLocaleDateString("en-US", {
                  year: "numeric",
                  month: "long",
                  day: "numeric",
                })
                .replace(/,/, "")}
              target="_self"
              delay="250"
            />
          ))
      }
    </ul>
  </Container>
</Layout>
