---
import Nav from "@components/Nav.astro";
import Layout from "@layouts/BaseLayout.astro";
import Container from "@components/Container.astro";
import DetailModal from "@components/DetailModal.astro";

const posts = await Astro.glob("./*.md");
---

<Layout title="Ibra's Blog ~" padding="48" path="/blog">
  <Container>
    <Nav />
    <h1
      class="animate-fade antialised font-bold text-2xl my-4 leading-snug stagger-50"
    >
      Blog Posts
    </h1>
    <ul
      class="grid grid-flow-row auto-rows-max text-slate-400 antialised text-base"
    >
      {
        posts
          .sort(
            (a, b) =>
              (new Date(b.frontmatter.date) as any) -
              (new Date(a.frontmatter.date) as any)
          )
          .map((post) => (
            <DetailModal
              url={post.url}
              title={post.frontmatter.title}
              description={post.frontmatter.date}
              target="_self"
              delay="50"
            />
          ))
      }
    </ul>
  </Container>
</Layout>
