h2 {  
  @apply font-bold text-base text-xl antialiased py-4;
}

p a {
  @apply font-bold underline text-slate-400 underline-offset-4 hover:text-slate-50
}

img, video {
    @apply py-4 leading-snug
}