---
import Nav from "@components/Nav.astro";
import Layout from "@layouts/BaseLayout.astro";
import Container from "@components/Container.astro";
import Heading from "@components/Heading.astro";
---

<Layout title="404 - Page Not Found" padding="32" path="/404">
  <Container>
    <Heading title="404 ~ Page Not Found" styling="stagger-50" />
    <p
      class="text-slate-400 text-lg antialised mb-5 italic animate-fade stagger-100"
    >
      <i>"Not all those who wander are lost"<br />- Tolkien</i>
    </p>
    <Nav />
  </Container>
</Layout>
