---
import Nav from "@components/Nav.astro";
import Layout from "@components/Layout.astro";
---

<Layout title="Ibrahim Hisham ~ Blog" padding="48" path="/blog">
  <div class="w-full max-w-md px-6 py-6 rounded-md">
    <Nav />
    <h1
      class="animate-fade antialised font-bold text-2xl my-4 leading-snug stagger-50"
    >
      Blog Posts
    </h1>
    <ul
      class="grid grid-flow-row auto-rows-max text-slate-400 antialised text-base"
    >
    </ul>
  </div>
</Layout>
