---
import DetailModal from "@components/DetailModal.astro";
import Nav from "@components/Nav.astro";
import Layout from "@layouts/BaseLayout.astro";
import Container from "@components/Container.astro";
---

<Layout title="Ibrahim Hisham ~ Creations" padding="48" path="/creations">
  <Container>
    <Nav />
    <h1
      class="animate-fade antialised font-bold text-2xl my-4 leading-snug stagger-50"
    >
      Creations
    </h1>
    <h2 class="stagger-100 animate-fade mb-5">
      here are a few things i've made:
    </h2>
    <ul
      class="grid grid-flow-row auto-rows-max text-slate-400 antialised text-base"
    >
      <DetailModal
        title="Ibralogue"
        description="A dialogue library for the unity game engine written in C#."
        url="https://github.com/Ibralogue/Ibralogue"
        delay="150"
      />
      <DetailModal
        title="snip.place"
        description="A modern, minimalistic pastebin, which I wrote the backend for in Rust."
        url="https://snip.place"
        delay="200"
      />
      <DetailModal
        title="A Gambler's Gambit"
        description="A game created in 48 hours for the GMTK Game Jam 2022 placing top 900s out of over 6000 entries."
        url="https://ibrahh.itch.io/gamblers-gambit"
        delay="250"
      />
      <DetailModal
        title="OneShot"
        description="A top-down shooter released on Steam developed within the span of ~8 months."
        url="https://store.steampowered.com/app/1221330/One_Shot"
        delay="300"
      />
    </ul>
  </Container>
</Layout>
