---
import FloatingPixels from "@components/FloatingPixels.astro";
import Heading from "@components/Heading.astro";
import Nav from "@components/Nav.astro";
import Layout from "@layouts/BaseLayout.astro";
---

<Layout title="ibrahim hisham" padding="32">
  <div class="w-full max-w-md px-6 py-6 rounded-md">
    <img
      src="https://avatars.githubusercontent.com/u/61324615?s=400&u=cd5a3ad6174065373219381434f09a76525f7bde&v=4"
      class="w-48 rounded-md animate-fade"
      alt="profile picture"
      draggable="false"
      class="stagger-50"
    />
    <Heading title="ibrahim hisham" styling="stagger-100" />
    <p class="stagger-150 animate-fade text-lg">
      independent game developer. programmer working on systems, tools and
      libraries.
    </p>
    <br />
    <p class="stagger-200 animate-fade text-lg">
      view all my links <a
        class="text-slate-200 hover:text-slate-400"
        href="/self">here</a
      >.
    </p>
    <br />
    <Nav />
  </div>
</Layout>
