---
import Nav from "@components/Nav.astro";
import Layout from "@components/Layout.astro";
---

<Layout title="Ibrahim Hisham ~" padding="64">
  <div class="w-full max-w-md px-6 py-6 rounded-md">
    <a href="https://github.com/ibra" aria-label="My GitHub">
      <img
        src="https://avatars.githubusercontent.com/u/61324615?s=400&u=cd5a3ad6174065373219381434f09a76525f7bde&v=4"
        class="w-16 lg:w-32 rounded-md animate-fade"
        alt="Profile Picture"
        class="stagger-50"
      />
    </a>
    <h1
      class="animate-fade antialised font-bold text-2xl my-4 leading-snug stagger-100"
    >
      Ibrahim Hisham ~
    </h1>
    <p class="stagger-150 animate-fade">
      Programmer in Rust, C#, and TypeScript by day, hobbyist indie game
      developer by night.
    </p>
    <br />
    <p class="stagger-200 animate-fade">
      You may know me as Ibrah or just Ibra around the internet.
    </p>
    <br />
    <Nav />
  </div>
</Layout>
