---
import Nav from "../components/Nav.astro";
import Head from "../components/Head.astro";
---

<html>
  <Head title="Ibrahim Hisham ~" />
  <body class="bg-gray-900">
    <main>
      <div
        class="flex min-h-full items-center justify-center py-64 px-4 sm:px-6 lg:px-8"
      >
        <div class="w-full max-w-md px-6 py-6 rounded-md">
          <a href="https://github.com/ibra">
            <img
              src="https://avatars.githubusercontent.com/u/61324615?s=400&u=cd5a3ad6174065373219381434f09a76525f7bde&v=4"
              class="w-16 lg:w-32 rounded-md"
            />
          </a>

          <h1
            class="text-slate-200 antialised font-bold font-space text-2xl mt-4 leading-snug"
          >
            Ibrahim Hisham ~
          </h1>
          <h2 class="text-slate-400 font-mono antialised text-base">
            programmer of Rust, C#, and TypeScript by day, hobbyist indie game
            developer by night.
          </h2>
          <br />
          <h2 class="text-slate-400 font-mono antialised text-base">
            you may know me as Ibrah or just Ibra around the internet.
          </h2>
          <br />
          <Nav />
        </div>
        <br />
      </div>
    </main>
  </body>
</html>
