---
import Nav from "@components/Nav.astro";
import Layout from "@components/Layout.astro";
import Container from "@components/Container.astro";
---

<Layout title="Ibrahim Hisham ~  Me" padding="48" path="me">
  <Container>
    <Nav />
    <h1
      class="text-slate-200 antialised font-bold text-2xl mb-2 animate-fade stagger-50"
    >
      Links
    </h1>
    <ul
      class="text-slate-400 antialised text-base mb-5 animate-fade stagger-100"
    >
      <li>
        Email: <a
          href="mailto:ibrahim.hisham@proton.me"
          class="text-slate-200 hover:text-slate-400"
          >ibrahim.hisham@proton.me</a
        >
      </li>
      <li>
        Github: <a
          href="https://github.com/ibra"
          class="text-slate-200 hover:text-slate-400">/ibra</a
        >
      </li>
      <li>
        Linkedin: <a
          href="https://linkedin.com/in/ibrahh"
          class="text-slate-50 hover:text-slate-400">/ibrahh</a
        >
      </li>
      <li>
        Twitter: <a
          href="https://twitter.com/IbrahDev"
          class="text-slate-50 hover:text-slate-400">/IbraExists</a
        >
      </li>
      <li>
        Itch: <a
          href="https://ibrahh.itch.io"
          class="text-slate-200 hover:text-slate-400">/ibrahh</a
        >
      </li>
    </ul>
    <h2 class="antialised font-bold text-2xl my-5 animate-fade stagger-150">
      A Little About Me
    </h2>
    <a
      href="/images/smol_ibra.jpg"
      target="_blank"
      rel="noreferrer"
      aria-label="small depiction of ibrahim"
    >
      <img
        class="float-left mr-5 animate-fade stagger-200"
        src="/images/smol_ibra.jpg"
        alt="Picture of me"
        width="25%"
      />
    </a>
    <div class="text-slate-400 antialised text-base leading-relaxed mb-5">
      <p class="animate-fade stagger-250">
        I'm a 15 year old programmer and hobbyist indie game developer from
        Pakistan. <br />
        <br />
      </p>
      <p class="animate-fade stagger-300">
        I started programming when I was 9, starting with HTML and Scratch.
        Later I moved on to making games with C# and Unity when I was 11. Took
        part in a couple of game jams, and eventually released a commercial game
        on Steam.
      </p>
      <br />
      <p class="animate-fade stagger-350">
        Later on, I fell in love with Rust and especially the web and game
        development ecosystem surrounding it, and also dabbled some more in web
        development with Typescript.
      </p>
    </div>
    <h2
      class="text-slate-200 antialised font-bold text-2xl my-5 animate-fade stagger-400"
    >
      Stuff I Use
    </h2>
    <h3
      class="text-slate-200 antialised font-bold text-xl animate-fade stagger-450 h-3"
    >
      PC
    </h3>
    <ul
      class="text-slate-400 antialised text-base list-disc animate-fade stagger-450"
    >
      <li>AMD Ryzen 5 2600x</li>
      <li>GTX 1660</li>
      <li>16GB DDR4 RAM</li>
      <li>Windows 10</li>
      <li>256GB SSD & 1TB HDD</li>
    </ul>
    <h3
      class="text-slate-200 antialised font-bold text-xl animate-fade stagger-500 h-3"
    >
      Programming Languages
    </h3>
    <ul
      class="text-slate-400 antialised text-base mb-5 list-disc animate-fade stagger-500"
    >
      <li>Rust</li>
      <li>C#</li>
      <li>TypeScript</li>
      <li>Python</li>
      <li>Go</li>
    </ul>
    <h3
      class="text-slate-200 antialised font-bold text-xl animate-fade stagger-550 h-3"
    >
      Software
    </h3>
    <ul
      class="text-slate-400 antialised text-base mb-5 list-disc animate-fade stagger-550"
    >
      <li>Obsidian</li>
      <li>Unity</li>
      <li>Visual Studio Code, Jetbrains Rider</li>
      <li>Adobe Premiere Pro</li>
      <li>Termux</li>
    </ul>
  </Container>
</Layout>
