---
import Nav from "@components/Nav.astro";
import Layout from "@layouts/BaseLayout.astro";
import Container from "@components/Container.astro";
import Heading from "@components/Heading.astro";
import SmolIbra from "../assets/smol.jpg";

const age = Math.floor(
  (new Date().getTime() - new Date("2007-10-27").getTime()) /
    (1000 * 60 * 60 * 24 * 365.25)
);
---

<Layout title="ibrahim hisham ~ self" padding="32" path="self">
  <Container>
    <Nav />
    <Heading title="self" styling="stagger-50" />

    <ul class="text-slate-400 antialised text-base animate-fade stagger-100">
      <li>
        github <br />
        <a
          href="https://github.com/ibra"
          class="text-slate-200 hover:text-slate-400">/ibra</a
        >
      </li>
      <li>
        itch.io <br />
        <a
          href="https://ibrahh.itch.io"
          class="text-slate-200 hover:text-slate-400">/ibrahh</a
        >
      </li>
      <li>
        discord <br />
        <a
          href="https://discordapp.com/users/745039444888780812"
          class="text-slate-200 hover:text-slate-400">ibra_h</a
        >
      </li>
    </ul>

    <Heading title="~" styling="stagger-150 mb-5" />
    <img
      class="float-left mr-5 animate-fade stagger-200 mt-2 w-1/4"
      src={SmolIbra}
      alt="pictured: smol ibra"
    />
    <div class="text-slate-400 antialised leading-relaxed mb-5">
      <p class="animate-fade stagger-150 text-lg">
        i love constantly being overwhelmed and immersed in my work (sometimes
        to my detriment...) hacking away at interesting technical problems &
        ideas.
      </p>

      <p class="animate-fade stagger-200 text-lg mt-5">
        i aspire to make things that move, feel and evoke. things that affect.
        things with utility; <br />
      </p>

      <p class="animate-fade stagger-200 text-lg mt-5">
        regardless of whether that manifests in software, code, games, or
        poetry.
      </p>

      <br />
      <p class="animate-fade stagger-250 text-lg">
        if you have something for me, feel free to <a
          href="mailto:ibrahim.hisham@proton.me"
          class="text-slate-200 hover:text-slate-400">reach out</a
        >.
      </p>
    </div>
  </Container>
</Layout>
