---
import Nav from "@components/Nav.astro";
import Layout from "@layouts/BaseLayout.astro";
import Container from "@components/Container.astro";
import Heading from "@components/Heading.astro";
import SmolIbra from "../assets/smol.jpg";

const age = Math.floor(
  (new Date().getTime() - new Date("2007-10-27").getTime()) /
    (1000 * 60 * 60 * 24 * 365.25)
);
---

<Layout title="Ibrahim Hisham ~ Self" padding="32" path="self">
  <Container>
    <Nav />
    <Heading title="~" styling="stagger-50" />
    <ul class="text-slate-400 antialised text-base animate-fade stagger-100">
      <li>
        github <br />
        <a
          href="https://github.com/ibra"
          class="text-slate-200 hover:text-slate-400">/ibra</a
        >
      </li>
      <li>
        discord <br />
        <a
          href="https://discordapp.com/users/745039444888780812"
          class="text-slate-200 hover:text-slate-400">ibra_h</a
        >
      </li>
      <li>
        itch <br />
        <a
          href="https://ibrahh.itch.io"
          class="text-slate-200 hover:text-slate-400">/ibrahh</a
        >
      </li>
      <li>
        letterboxd <br />
        <a
          href="https://letterboxd.com/ibrahh/"
          class="text-slate-200 hover:text-slate-400">/ibrahh</a
        >
      </li>
    </ul>

    <Heading title="~" styling="stagger-150 mb-5" />
    <img
      class="float-left mr-5 animate-fade stagger-200 mt-2 w-1/4"
      src={SmolIbra}
      alt="pictured: smol ibra"
    />
    <div class="text-slate-400 antialised leading-relaxed mb-5">
      <p class="animate-fade stagger-250 text-lg">
        I'm a {age} year old programmer and hobbyist independent game developer from
        Lahore, Pakistan.
        <br />
        <br />
      </p>
      <p class="animate-fade stagger-300 text-lg">
        I love constantly being overwhelmed and immersed in my work (sometimes
        to my detriment...) hacking away at interesting technical problems &
        ideas.
      </p>
      <br />
      <p class="animate-fade stagger-350 text-lg">
        If you have something for me, feel free to <a
          href="mailto:ibrahim.hisham@proton.me"
          class="text-slate-200 hover:text-slate-400">reach out</a
        >.
      </p>
    </div>
  </Container>
</Layout>
