---
import Nav from "@components/Nav.astro";
import Layout from "@layouts/BaseLayout.astro";
import Container from "@components/Container.astro";
---

<Layout title="Ibrahim Hisham ~ zaha !1!!" padding="32" path="/creations">
  <Container>
    <Nav />

    <div>
      <textarea
        id="sleepyZaha"
        class="mb-5"
        rows="8"
        readonly
        style="background-color:#050505; width:250px;resize: none;"
      >
      </textarea>
    </div>
    <h2 class="text-slate-400">i miss you every second.</h2>
    <h3 id="daysWaiting"></h3>

    <script>
      const lossDate = new Date("2024-05-20T00:00:00");
      const daysTogether = document.getElementById("daysWaiting");

      getTimeDifference(lossDate);
      setInterval(() => getTimeDifference(lossDate), 1000);

      let index = 0;
      const catFrames: string[] = [
        `


 
  ／l、             
（-､ - ７         
  l  ~ヽ       
  じしf_,)ノ`,
        `


     z
  ／l、             
（-､ - ７         
  l  ~ヽ       
  じしf_,)ノ`,
        `

      z
     z
  ／l、             
（-､ - ７         
  l  ~ヽ       
  じしf_,)ノ`,
        `
        Z   
      z
     z
  ／l、             
（-､ - ７         
  l  ~ヽ       
  じしf_,)ノ`,
        `
        Z   
      z
     z
  ／l、             
（-､ - ７         
  l  ~ヽ       
  じしf_,)ノ`,
      ];

      sleepyZaha(0);
      setInterval(() => {
        sleepyZaha(index);
        index++;
        if (index == catFrames.length) {
          index = 0;
        }
      }, 400);

      function getTimeDifference(targetDate: Date): void {
        const currentDate = new Date();
        const difference = currentDate.getTime() - targetDate.getTime();

        const days = Math.floor(difference / (1000 * 60 * 60 * 24));
        const hours = Math.floor(
          (difference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
        );
        const minutes = Math.floor(
          (difference % (1000 * 60 * 60)) / (1000 * 60)
        );
        const seconds = Math.floor((difference % (1000 * 60)) / 1000);

        daysTogether!.innerHTML = `${days}d, ${hours}h, ${minutes}m, ${seconds}s`;
      }

      function sleepyZaha(index: number) {
        const textArea = document.getElementById("sleepyZaha") as any;
        textArea!.value = catFrames[index];
      }
    </script>
  </Container>
</Layout>
