<a
  href={Astro.props.url}
  target={Astro.props.target || "_blank"}
  rel="noreferrer"
>
  <li
    class={`border-2 rounded-md px-5 py-2 mb-5 hover:text-slate-600 hover:border-slate-700 transition-colors animate-fade stagger-${Astro.props.delay}`}
  >
    <h2 class="font-bold text-2xl">{Astro.props.title}</h2>
    <p class="text-lg">{Astro.props.description}</p>
  </li>
</a>
