<head>
  <meta charset="UTF-8" />
  <meta name="language" content="english" />
  <meta http-equiv="content-type" content="text/html" />

  <title>{Astro.props.title}</title>
  <meta
    name="description"
    content="Programmer & hobbyist indie game developer."
  />
  <meta name="theme-color" content="#111827" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap"
    rel="stylesheet"
  />
</head>
