---
interface Props {
  title: string;
  styling?: string;
}

const { title, styling } = Astro.props;
---

<h1
  class=`animate-fade antialised font-bold text-3xl my-2 leading-snug stagger-50 ${styling}`
>
  {title}
</h1>
