<nav class="grid gap-4 grid-rows-1 mb-5">
  <div class="flex items-center text-slate-400 font-space antialised text-base">
    <a href="/" class="animate-fade stagger-200">home</a>
    <span aria-hidden="true" class="animate-fade stagger-200"></span>
    <a href="/creations" class="animate-fade stagger-300">creations</a>
    <span aria-hidden="true" class="animate-fade stagger-300"></span>
    <a href="/blog" class="animate-fade stagger-350">blog</a>
    <span aria-hidden="true" class="animate-fade stagger-350"></span>
    <a href="/me" class="animate-fade stagger-400">me</a>
  </div>
</nav>
