---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1).replace("/","");
---

<nav class="grid gap-4 grid-rows-1 mb-5">
  <div class="flex items-center text-slate-400 antialiased text-base">
    <a href="/" class={`animate-fade stagger-200 ${currentPath === '' ? 'text-slate-500' : ''}`}>home</a>
    <span aria-hidden="true" class="animate-fade stagger-200"></span>
    <a href="/work" class={`animate-fade stagger-250 ${currentPath === 'work' ? 'text-slate-500' : ''}`}>work</a>
    <span aria-hidden="true" class="animate-fade stagger-250"></span>
    <a href="/poetry" class={`animate-fade stagger-300 ${currentPath === 'poetry' ? 'text-slate-500' : ''}`}>poetry</a>
    <span aria-hidden="true" class="animate-fade stagger-300"></span>
    <a href="/self" class={`animate-fade stagger-350 ${currentPath === 'self' ? 'text-slate-500' : ''}`}>self</a>
  </div>
</nav>
