<nav class="grid gap-4 grid-rows-1 mb-5">
  <div class="flex items-center text-slate-400 antialised text-base">
    <a href="/" class="animate-fade stagger-200">home</a>
    <span aria-hidden="true" class="animate-fade stagger-200"></span>
    <a href="/work" class="animate-fade stagger-300">work</a>
    <span aria-hidden="true" class="animate-fade stagger-350"></span>
    <a href="/self" class="animate-fade stagger-400">self</a>
  </div>
</nav>
