<a href={Astro.props.url} target="_blank">
  <ul>
    <div
      class="border-2 rounded px-4 py-4 mb-4 hover:text-slate-600 hover:border-slate-700"
    >
      <h2 class="font-bold text-lg">{Astro.props.title}</h2>
      <h3>{Astro.props.description}</h3>
    </div>
  </ul>
</a>
