---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <title>{Astro.props.title}</title>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="robots" content="follow, index" />
    <meta
      content="Ibrahim Hisham. Programmer and hobbyist indie game developer. Rust, C#, Typescript."
      name="description"
    />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Ibrahim Hisham" />
    <meta
      property="og:description"
      content="Ibrahim Hisham. Programmer & hobbyist indie game developer. Rust, C#, Typescript."
    />
    <meta property="og:title" content={Astro.props.title} />
    <meta
      property="og:image"
      content="https://avatars.githubusercontent.com/u/61324615?v=4"
    />
    <meta name="theme-color" content="#050505" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-[#050505]">
    <div
      class={`flex min-h-screen items-center justify-center py-${Astro.props.padding} px-4 sm:px-6 lg:px-8`}
    >
      <slot />
    </div>
  </body>
</html>
